.WeatherData-Info{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:27rem;
    height:28rem;
    border-radius:10px;
    transform:translateY(2.5rem) translateX(2.5rem);
    background: linear-gradient(to right, #141E30, #243B55); 
}

.WeatherTitle{
    position:absolute;
    transform:translateX(2.5rem);
    font-family: 'Montserrat', sans-serif;
    letter-spacing:2px;
    cursor: pointer;
    color:white;
    font-weight:bold;
}
.CityName{
    transform:translateX(-4.5rem) translateY(-1.1rem);
    color:white;
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing:0.7px;
    font-size:33px;
}
.CityTemperature{
    transform:translateX(-6.5rem) translateY(0.7rem);
    color:white;
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing:0.5px;
    font-size:60px;
}
.CityWeather{
    transform:translateX(-5rem) translateY(-2rem);
    color:white;
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing:0.5px;
}


.WeatherAnimation{
    transform:translateX(-6rem) translateY(5rem);
}

.Hr{
    width:100%;
    height:1px;
}

.WeatherIcon{
    transform:translateX(-11rem) translateY(13rem);
}